body{
    margin: 0;
    padding: 0;
    background-color: #ebf5ff; /*#fafafa*/
    overflow-x: hidden;
}

nav {
    background-color: #1b1464; /* #232f3e -- azul mais escuro */

}

.icon_find{
    width: 25px;
}

.search_input{
    height: 45px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 10px;

}

.search_button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #00d600;
    padding: 8px;

}

.div_search{
    padding: 0px 6%;
}

.navbar-brand{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 14px;

}

.div_options{
    height: 30px;
    text-align: center;
}

.container-fluid{ 
    padding-top: 5px;
    padding-bottom: 5px;
}

.carousel-inner{
    max-height: 450px;
}

.carousel-item img {
    max-height: 100%;	
}

#products{
    text-align: center;
}

.product{
    width: 22%;
    text-align: center;
    margin: 20px 40px;
    display: inline-block;
    padding: 20px 0px;
    background-color: #fafafa;
    border: 2px solid #232f3e;
}

.product img{
    max-width: 60%;
    max-height: 250px;
}

.product_button{
	margin: 20px 0px;
	
}

.div_product_button{
	text-align: center;
}

.carousel_button{
	background-color: rgba(0,0,0,1);
	padding: 18px;
	border-radius: 35px;
}

.btn-flutuante {
    position: fixed;
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}

.icon_buy{
    width: 45px;
}
