body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.title{
    font-family: 'JotiOne-Regular', fallback, sans-serif;
}

.level_title{
    font-size: 17px;
    font-family: 'Itim', fallback, sans-serif;
}

.button_level {

    background-color: #f2f2f2;
    border: 1px solid #1B1464;
    color: #1B1464;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.button_level p.text_init_level, p.text_interm_level, p.text_avanc_level{
    display: none;
}

#btn_init_level, #btn_interm_level, #btn_avanc_level {
    width: 170px;
    height: 170px;
}

#btn_init_level:hover{
    border: 1px solid #1B1464;
    background-color: #1B1464;
    width: 190px;
    height: 190px;

    transition: all cubic-bezier(.5, 0, .5, 1) .4s;
}

/*transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) .4s;*/

#btn_interm_level:hover{
    border: 2px solid #1B1464;
    background-color: #1B1464;
    width: 190px;
    height: 190px;

    transition: all cubic-bezier(.5, 0, .5, 1) .4s;
    
}

#btn_avanc_level:hover{
    border: 1px solid #1B1464;
    background-color: #1B1464;
    width: 190px;
    height: 190px;

    transition: all cubic-bezier(.5, 0, .5, 1) .4s;
}

.text_level{
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Jost-Light', fallback, sans-serif;
}

.text_{
    font-family: 'Inter-Regular', fallback, sans-serif;
    font-size: 16px;
    color: #1B1464;
}

.subtext_{
    font-family: 'Inter-Regular', fallback, sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #1B1464;
}


/*robot config*/
.container-robot{
    font-family: 'Itim', fallback, sans-serif;
    color: hsl(245, 67%, 24%);;
    border-radius: 3px;
    justify-content: center; 
    position: relative; 
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    width: 60%;
    padding: 0;
    transform: translateY(-20%);
    display:block;
    margin:auto;
  }
  
  .robot-speech {
    background: #FFFF;
    border-radius: 18px;
    border: 1px solid grey; 
    font-size: 16px;
    line-height: 1.6em;
    margin: 12px 20px;
    padding: 12px;
    position: relative;
    max-width: 40%;
    margin-left: auto; 
    transform: translateX(-120%) translateY(100px); 
    z-index:10;
    overflow-wrap: break-word;
  }
  .robot-speech::after { /*Cauda do Balão*/
      content: '';
      height: 25px;
      position: absolute;
      z-index: 1;
      border-bottom: 30px solid #fff; 
      border-right: 20px solid transparent; 
      bottom: -10px; 
      right: -10px; 
      transform: rotate(135deg); 
  }
  .robot{
    transform: translateX(30%);  
  }

#cursor {
  display: inline-block;
  width: 0.2em;
  height: 1em;
  background-color: #1B1464;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}