.nav-item, .nav-link{
    display: block;
}

.menu-lateral {
    top: 0;
    left: 0;
    width: 21vw;
    background-color: hsl(245, 67%, 24%);
    color: white;
    padding: 20px;
    display: block;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: auto;
    position: fixed;
    z-index: 10;
}

div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div ul li {
    margin-bottom: 10px;
}
div ul li a {
    color: white;
    text-decoration: none;
}

div ul li a:visited {
    color: white;
    text-decoration: none;
}

.img-logo{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    height: auto;
}

.ul-subitem{
    margin-bottom: 10px;
}

.nav-subitem{
    padding-left: 25px;
}

.close-btn{
    width: 100%;
    text-align: right;
    border: none;
    background-color: transparent;
}

.close-btn img{
    width: 25px;
}

.close-btn img:hover{
    cursor: pointer;
    width: 26px;
}

.btn-menu-hidden{

    background-color: hsl(245, 67%, 24%);
    color: #FAFAFA;

}

.menu-lateral-closed {
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vmax;
    background-color: hsl(245, 67%, 24%);
    color: white;
    padding: 20px;
    position: fixed;
    z-index: 10;
}

.menu-lateral-closed img{
    width: 25px;
}

.menu-lateral-closed img:hover{
    cursor: pointer;
    width: 26px;
}

.levels_line {
    color: black;
    border-width: 3px;
}

.dropdown{
    font-family: 'Itim', fallback, sans-serif;
}

.pontuacao{
    padding: 10px 0px;
    font-family: 'Itim', fallback, sans-serif;
}


.dropdown img{
    width: 20px;
    margin-right: 10px;
}

.dropdown button{
    background-color: transparent;
    border: none;
}

.content {
    /* margin: 30px; */
    /* margin-left: 20%; /* ajuste para o espaço ocupado pelo menu lateral */
    margin-left: 21vw;
    padding: 20px;
    margin-right: 0px;
    width: 100% !important;
    text-align: center;

}

.progress {
    margin-top: 32px;
}

.medalhas {
    text-align: center !important;
    margin-top: 50px;
    display: flex;            /* Define o layout flex */
    justify-content: center;  /* Centraliza os itens horizontalmente */
    gap: 20px;                /* Espaçamento entre as imagens (opcional) */
}

medalhas img{
    width: 100px;             /* Define o tamanho das imagens (ajuste conforme necessário) */
  height: auto;
}

